.principal{
    background-color: rgb(255, 92, 168);
    width: 1000px;
    height: 940px; /*1400*/
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}
.contenedor{
    display: flex;
    flex-direction: column;
}
.caja{
    background-color: gold;
    width: 300px;
    height: 900px; /*1365*/
    margin: 15px;
    display: flex;
    position: relative;
}
.subcaja1{
    background-color: crimson;
    width: 80px;
    height: 200px;
    margin: 10px;
}
.subcaja2{
    background-color: rgb(51, 228, 7);
    width: 260px;
    height: 100px;
    margin: 10px;
    position: absolute;
    top: 220px;
    left: 10px;
}
.subcaja3{
    background-color: rgb(51, 228, 7);
    width: 260px;
    height: 100px;
    margin: 10px;
    position: absolute;
    top: 340px;
    left: 10px;
}
.subcaja4{
    background-color: rgb(51, 228, 7);
    width: 260px;
    height: 100px;
    margin: 10px;
    position: absolute;
    top: 460px;
    left: 10px;
}
.subcaja5{
    background-color: rgb(118, 11, 218);
    width: 80px;
    height: 200px;
    margin: 10px;
    position: absolute;
    top: 600px;
    left: 10px;
}
.subcaja6{
    background-color: rgb(118, 11, 218);
    width: 80px;
    height: 200px;
    margin: 10px;
    position: absolute;
    top: 600px;
    left: 100px;
}
.subcaja7{
    background-color: rgb(118, 11, 218);
    width: 80px;
    height: 200px;
    margin: 10px;
    position: absolute;
    top: 600px;
    left: 200px;
}
.subcaja8{
    background-color: rgb(3, 28, 253);
    width: 260px;
    height: 100px;
    margin: 10px;
    position: absolute;
    top: 30px;
    left: 15px;
}
.subcaja9{
    background-color: rgb(3, 28, 253);
    width: 260px;
    height: 100px;
    margin: 10px;
    position: absolute;
    top: 180px;
    left: 15px;
}
.subcaja10{
    background-color: rgb(3, 28, 253);
    width: 260px;
    height: 100px;
    margin: 10px;
    position: absolute;
    top: 330px;
    left: 15px;
}
.subcaja11{
    background-color: rgb(3, 28, 253);
    width: 260px;
    height: 100px;
    margin: 10px;
    position: absolute;
    top: 490px;
    left: 15px;
}
.subcaja12{
    background-color: rgb(3, 28, 253);
    width: 260px;
    height: 100px;
    margin: 10px;
    position: absolute;
    top: 670px;
    left: 15px;
}
.subcaja13{
    background-color: rgb(102, 107, 88);
    width: 80px;
    height: 200px;
    margin: 10px;
    position: absolute;
    top: 20px;
    left: 10px;
}
.subcaja14{
    background-color: rgb(102, 107, 88);
    width: 80px;
    height: 200px;
    margin: 10px;
    position: absolute;
    top: 20px;
    left: 100px;
}
.subcaja15{
    background-color: rgb(102, 107, 88);
    width: 80px;
    height: 200px;
    margin: 10px;
    position: absolute;
    top: 20px;
    left: 200px;
}
.subcaja16{
    background-color: rgb(102, 107, 88);
    width: 80px;
    height: 200px;
    margin: 10px;
    position: absolute;
    top: 300px;
    left: 10px;
}
.subcaja17{
    background-color: rgb(102, 107, 88);
    width: 80px;
    height: 200px;
    margin: 10px;
    position: absolute;
    top: 300px;
    left: 100px;
}
.subcaja18{
    background-color: rgb(102, 107, 88);
    width: 80px;
    height: 200px;
    margin: 10px;
    position: absolute;
    top: 300px;
    left: 200px;
}
.subcaja19{
    background-color: rgb(102, 107, 88);
    width: 80px;
    height: 200px;
    margin: 10px;
    position: absolute;
    top: 600px;
    left: 10px;
}
.subcaja20{
    background-color: rgb(102, 107, 88);
    width: 80px;
    height: 200px;
    margin: 10px;
    position: absolute;
    top: 600px;
    left: 100px;
}
.subcaja21{
    background-color: rgb(102, 107, 88);
    width: 80px;
    height: 200px;
    margin: 10px;
    position: absolute;
    top: 600px;
    left: 200px;
}